{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
</head>
<body>

<div class="login-form">
    <form>
        <h1>Login</h1>
        <div class="content">
            <div class="input-field">
                <input type="email" placeholder="Email" autocomplete="nope">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" autocomplete="new-password">
            </div>
            <a href="#" class="link">Forgot Your Password?</a>
        </div>
        <div class="action">
            <button>Register</button>
            <button>Sign in</button>
        </div>
    </form>
</div>

<div style="margin: 14px 15px">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8329113460419074"
            crossorigin="anonymous" type="7cd958adbd1171da388ed86e-text/javascript"></script>

    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8329113460419074" data-ad-slot="2986786685"
         data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script type="7cd958adbd1171da388ed86e-text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2BMVGTJJG1"
            type="7cd958adbd1171da388ed86e-text/javascript"></script>
    <script type="7cd958adbd1171da388ed86e-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2BMVGTJJG1');
    </script>
</div>
<script src="./script.js" type="7cd958adbd1171da388ed86e-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80520768-2"
        type="7cd958adbd1171da388ed86e-text/javascript"></script>
<script type="7cd958adbd1171da388ed86e-text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-80520768-2');
</script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="7cd958adbd1171da388ed86e-|49" defer></script>
</body>
</html>