{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forumpat şifremi unuttum</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
</head>
<body>

<div class="login-form">
    <form method="post">
        {% csrf_token %}
        <h1>{% trans "Şifremi unuttum" %}</h1>
        <div class="content">
            <div class="input-field">
                <input type="email" placeholder="{% trans "E-Posta" %}" autocomplete="nope" name="login">
            </div>

        </div>
        <div class="action">
            <a class="button" href="{% url 'account_signup' %}"> {% trans "Üye Ol" %}</a>
            <button type="submit"> {% trans "Şifremi Değiştir" %} </button>
        </div>
    </form>
</div>
</body>
</html>